#image{
    height: 100%; 
    padding: 3px 28px;
}
#image span{color: #fff;
font-size: 3vw;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
background: rgba(0, 0, 0, 0.5);
position: absolute;
top: 0%;
left: 50%;
transform: translate(-50%, -50%);
}
#image::before{
    height: 480px; 
}